<h1>
  {{title}}
</h1>

<app-search></app-search>

<nav class='tab'>
  <a routerLink="/todoTab" routerLinkActive="active">TODO</a>
  <a routerLink="/archiveTab" routerLinkActive="active">ARCHIVE</a>
</nav>

<!--
<div [ngSwitch]="selectedTab" class='tabcontent'>
  <app-tab-todo *ngSwitchCase='"TODO"' [search]='mySearchInput'></app-tab-todo>
  <app-tab-archive *ngSwitchCase='"ARCHIVE"' [search]='mySearchInput'></app-tab-archive>
</div>
-->
<div class='tabcontent'>
  <router-outlet></router-outlet>
</div>