h1 {
    text-align: center;
}

nav a {
    font-family: 'Indie Flower', cursive!important;
}

nav.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top : 10px;
    color : black;
}

/* Style the buttons inside the tab */
nav.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
nav.tab a:hover {
    background-color: lightgrey;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid grey;
    border-top: none;
    background-color: grey;
    color:black;
    height: 100%;
}